name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Build Project
        run: |
          # 查找 package.json
          FILE_PATH=$(find . -name "package.json" -not -path "*/node_modules/*" | head -n 1)
          if [ -z "$FILE_PATH" ]; then
            echo "Error: package.json not found"
            exit 1
          fi
          PROJECT_ROOT=$(dirname "$FILE_PATH")
          cd "$PROJECT_ROOT"
          
          # 安装依赖
          npm install
          
          # 构建项目
          npm run build
          
          # 确保 dist 文件夹出现在根目录
          if [ "$PROJECT_ROOT" != "." ]; then
            mv dist ../dist
          fi

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
          force_orphan: true
